* {
  box­sizing: border­box;
}

body {
	background-image: linear-gradient(30deg, rgba(255, 137, 103, 0.25) -10%, rgba(69, 173, 168, 0.25) 100%);
}

h1 {

	/*centers the text but can't be best way to do it

	position: relative;
	left: -2.5%;*/

	margin-top: 20px;

	display: inline-block;
}

.header  {
	text-align: center;

}

.back{
  position: absolute;
	left: 15px;
  width: 50px;
	margin-left: 1.66%;
	margin-top: 7px;
}

.back:hover{
  opacity: .7;
}

.back:active{
	opacity: .5;
	margin-top: 7px;
}

.photo {
  height: auto;
  float: left;
  opacity: .5;
  border-radius: 10px;
  transition: all .5s;

}

.vertical {
	width: 22.5%;
	margin: 1%;
	height: auto;
}

.horizontal {
  width: 30%;
  margin: 1.66%;
}

.photo:hover {
	opacity: 1;
	border-radius: 7%;	
}

.vertical {
	transform: rotate(90deg);
}

@media(max-width: 768px){
  .horizontal{
  	width: 45%;
  	margin: 2.5%;
  }

  .photo {
  	opacity: 1;
  	border-radius: 5%;
  }

}

@media(max-width: 480px){
  .horizontal{
  	width: 95%;
  	
  }
}