* {
  box­sizing: border­box;
}

.left{
  float: left;
  display: inline-block;
}

<<<<<<< HEAD
.align-nav {
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}

 .box{
  width: 100%;
  height: 200px;
  margin: 25px;
=======
/*.align-nav {
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}*/

 .box{
  width: 100%;
  height: 300px;
>>>>>>> 6f66dc50a39d4b42be49c7c2bf32a69a4b64d9b0
 }

.icon-bar {
  border: 1px solid white;
}

.navbar-toggle {
  border: 1px solid white;
}

.main-words {
  display: none;
}
/* .student {
  color: white;
  font-family: Oxygen 300;
  font-size: 48px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%,0); 
 }

 .developer {
    font-size: 48px;
    color: white;
    font-family: Oxygen 300;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%); 
 }

 .traveler {
  font-size: 48px;
  color: white;
  font-family: Oxygen 300;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%); 
 }*/

.box-IX{
  width: 100%;
  height: 300px;
  border-radius: 50%;

}

.box-B4P{
  background-image: url(../Images/B4P.svg);
  background-size: cover;
}

.navbar {
  background-color: #547980;
}

.navbar-collapse {
  color: red;
}

.page {
  position: relative;
  padding-bottom: 700px;
  text-align: center;
}

.nav-txt {
  color: white;
  font-size: 20px;
  font-family: Oxygen;
  font-weight: 200;
  transition: all .6s;
  position: relative;
}

.nav-txt:hover {
  color: #547980;
}

.nav-text:active {
  bottom: 1px;
  right: 1px;
}

.nav-item {
  background-color: #547980;
}


.hero-img-cont {
  position: absolute;
  height: 300px;
  width: 300px;
  background-image: url(../Images/name-logo.png);
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%; 
  transition: all .5s;
}

.hero-img-cont:hover {
  background-image: url(../Images/sunset.png);

}

.hero-img-cont:hover .main-words{
    display:  inherit;
}

.icon-link {
  text-decoration: none;
  color: black;
  font-size: 10px;
}


.main {
  position: relative;
  padding-bottom: 700px;
  text-align: center;
  background-image: linear-gradient(30deg, #FF8967 -10%, #45ADA8 100%);
}

<<<<<<< HEAD
.selfie {
=======
.me {
>>>>>>> 6f66dc50a39d4b42be49c7c2bf32a69a4b64d9b0
  width: 300px;
  height: auto;
  margin: auto;
}

.blurb {
  font-family: oxygen 300;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 16px;
}

<<<<<<< HEAD
=======
.accomp-txt-l {
  padding-left: 15%;
}

/*.year {
  color: 
}
.timeline {
    margin-bottom: 50px;
    white-space:nowrap;
    overflow-x: scroll;
    padding:30px 0 10px 0;
    position:relative;
}*/
>>>>>>> 6f66dc50a39d4b42be49c7c2bf32a69a4b64d9b0

.proj-main{
  background-color: rgba(69,173,168,.1);
  padding-bottom: 50px;
<<<<<<< HEAD
  text-align: center; 
}
=======
  
}

.entry {
    display:inline-block;
    vertical-align:top;
    background: rgba(255,137,103,.3);
    color:#fff;
    padding:10px;
    font-size:16px;
    text-align:center;
    position:relative;
    border-top:4px solid #45ADA8;
    border-radius:10px;
    min-width:200px;
    max-width:500px;
}

/*.entry img {
    display:block;
    max-width:100%;
    height:auto;
    margin-bottom:10px;
}

.entry:after {
    content:'';
    display:block;
    background:#eee;
    width:7px;
    height:7px;
    border-radius:6px;
    border:3px solid #45ADA8;
    position:absolute;
    left:50%;
    top:-30px;
    margin-left:-6px;
}

.entry:before {
    content:'';
    display:block;
    background:#45ADA8;
    width:5px;
    height:20px;
    position:absolute;
    left:50%;
    top:-20px;
    margin-left:-2px;
}*/

/*.entry h1 {
    color:#fff;
    font-size:16px;
    font-family:oxygen 400, serif;
    font-weight:bold;
    margin-bottom:10px;
}

.entry h2 {
    letter-spacing:.2em;
    margin-bottom:10px;
    font-size:14px;
    font-family: oxygen 300;
}

.bar {
    margin-top: 50px;
    height:4px;
    background:#504F4F;
    width:100%;
    position:relative;
    top:13px;
    left:0;
}*/
>>>>>>> 6f66dc50a39d4b42be49c7c2bf32a69a4b64d9b0

.square{
  height: 200px;
  width: 200px;
<<<<<<< HEAD
  display: inline-block;
=======

  display: inline-block;
  /*border: 2px solid black;*/
>>>>>>> 6f66dc50a39d4b42be49c7c2bf32a69a4b64d9b0
}

.square-1{
  width: 160px;
<<<<<<< HEAD
  display: inline-block;
=======
  

  display: inline-block;
  /*border: 2px solid black;*/
>>>>>>> 6f66dc50a39d4b42be49c7c2bf32a69a4b64d9b0
}

.
.nav-link:hover {
  text-decoration: none;
  background-color: red;
  border: 2px solid red;
}

.square-IX{
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  /*border: 2px solid black;*/
}

#travels{
  text-align: center;
}

hr{
  width: 50%;
}

.travels {
  padding: 5px;
}

.photo-cont {
  display: inline-block;
  float: left;
  width: 50%;
  text-align: center;
}

.photos {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  transition: border-radius .5s;
  opacity: .7;
}

.photos:hover {
  opacity: 1;
  border-radius: 5%;
  width: 400px;
}

.photos:active {
  opacity: .9;
  margin-top: 1px;
}

.circle-foot{
  position: relative;
  height: 50px;
  width: 50px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 50%;
  display: inline-block;
  /*border: 2px solid black;*/
  transition: all .2s;

}

.circle-foot:hover{
  box-shadow: 2px 2px 2px #888888;
  bottom: 1px;
  right: 1px;

}

<<<<<<< HEAD
.social{
  width: 40px;
}

.page-footer {
   position: bottom;
   padding-top: 20px;
   margin-bottom: 30px;
   height: 50px;
   text-align: center;
   background-color: white;
}

/*Footer images*/
=======

>>>>>>> 6f66dc50a39d4b42be49c7c2bf32a69a4b64d9b0
.resume {
  background-image: url(../Images/resume.png);
  background-size: cover;
}

.email {
  background-image: url(../Images/email.png);
  background-size: cover;
}

.facebook {
  background-image: url(../Images/facebook.svg);
  background-size: cover;
}

.github {
  background-image: url(../Images/github-social-logo.svg);
  background-size: cover;
}

.linkedin {
  background-image: url(../Images/linkedin.png);
  background-size: cover;
}

<<<<<<< HEAD
=======
.project {
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  height: 100%;
  
}

.social{
  width: 40px;
}

.page-footer {
   position: bottom;
   padding-top: 20px;
   margin-bottom: 30px;
   height: 50px;
   text-align: center;
   background-color: white;
}


>>>>>>> 6f66dc50a39d4b42be49c7c2bf32a69a4b64d9b0
#about {
  padding-top: 25px; 
  padding-bottom: 25px;
}

#projects {
  padding-top: 50px;
}

@media(max-width: 768px){
<<<<<<< HEAD
=======
  /*#timeline {
    display: none;
  }*/
>>>>>>> 6f66dc50a39d4b42be49c7c2bf32a69a4b64d9b0
  .accomp-img {
    position: relative;
    top: 50px;
  }

  .accomp-txt {
    position: relative;
    top: -30px;
<<<<<<< HEAD
    margin-left: 10%;
    margin-right: 10%;
=======
>>>>>>> 6f66dc50a39d4b42be49c7c2bf32a69a4b64d9b0
  }

  .align-nav {
     position: relative; 
     left: 0%; 
     text-align: right;
     transform: translate(0,0); 
}

}