
* {
  box­sizing: border­box;
}

.left{
  float: left;
  display: inline-block;
}
.align-nav {
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}
 .box{
  width: 100%;
  height: 300px;
  
 }

 .box-IX{
  width: 100%;
  height: 300px;
  border-radius: 50%;
  
 }

.page {
  position: relative;
  padding-bottom: 700px;
  text-align: center;
}

.nav-txt {

  color: white;
  font-size: 20px;
  font-family: Oxygen;
  font-weight: 200;
  transition: transform 1s;
  
}

.nav-txt:hover {
  transform: rotatex(5deg);
}

.nav-txt:active {
  background-color: transparent;
}


.hero-img {
  position: absolute;
  height: 25%;
  width: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.icon-link {
  text-decoration: none;
  color: black;
  font-size: 10px;
}

.hero-img-alt{
  display: none;
  position: absolute;
  height: 25%;
  width: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-img:hover + .hero-img-alt{
  display: inline-block;
}

.main {
  position: relative;
  padding-bottom: 700px;
  text-align: center;
  background-image: linear-gradient(30deg, #FF8967 -10%, #45ADA8 100%);
}

.me {
  width: 300px;
  height: auto;
  margin: auto;
}

.blurb {
  font-family: oxygen 300;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 20px;
}

.accomp-txt-l {
  padding-left: 15%;
}

.year {s
  color: 
}
.timeline {
    margin-bottom: 50px;
    white-space:nowrap;
    overflow-x: scroll;
    padding:30px 0 10px 0;
    position:relative;
}

.proj-main{
  background-color: rgba(69,173,168,.1)
  
}

.entry {
    display:inline-block;
    vertical-align:top;
    background: rgba(255,137,103,.3);
    color:#fff;
    padding:10px;
    font-size:12px;
    text-align:center;
    position:relative;
    border-top:4px solid #45ADA8;
    border-radius:10px;
    min-width:200px;
    max-width:500px;
}

.entry img {
    display:block;
    max-width:100%;
    height:auto;
    margin-bottom:10px;
}

.entry:after {
    content:'';
    display:block;
    background:#eee;
    width:7px;
    height:7px;
    border-radius:6px;
    border:3px solid #45ADA8;
    position:absolute;
    left:50%;
    top:-30px;
    margin-left:-6px;
}

.entry:before {
    content:'';
    display:block;
    background:#45ADA8;
    width:5px;
    height:20px;
    position:absolute;
    left:50%;
    top:-20px;
    margin-left:-2px;
}

.entry h1 {
    color:#fff;
    font-size:16px;
    font-family:oxygen 400, serif;
    font-weight:bold;
    margin-bottom:10px;
}

.entry h2 {
    letter-spacing:.2em;
    margin-bottom:10px;
    font-size:14px;
    font-family: oxygen 300;
}

.bar {
    margin-top: 50px;
    height:4px;
    background:#504F4F;
    width:100%;
    position:relative;
    top:13px;
    left:0;
}

.square{
  height: 200px;
  width: 200px;

  display: inline-block;
  /*border: 2px solid black;*/
}

.nav-link:hover {
  text-decoration: none;
  background-color: red;
  border: 2px solid red;
}

.square-IX{
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  /*border: 2px solid black;*/
}

.project {
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  height: 100%;
  
}

.social{
  width: 40px;
}

.page-footer {
   position: bottom;
   margin-top: 50px;
   margin-bottom: 30px;
   height: 50px;
   text-align: center;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: red;
}

.navbar-default.navbar-shrink {
        padding: 10px 0;
        /*background-image: linear-gradient(45deg, #2D2A32 0%, #0B3954 100%);*/
        background-image: linear-gradient(45deg, #031C68 0%, #748CAB 100%);
    }

#about {
  padding-top: 50px;
}

#projects {
  padding-top: 50px;
}

@media(max-width: 760px){
  #timeline {
    display: none;
  }
}